.box{
    margin: auto;
    display: inline-block;
    border: 1px solid black;
    width: 50vw;
}

.outer{
    width: 1450px;
    /* height: 500px; */
    border: 1px solid black;
    
}

.inner{
    display: inline-block;
    width: 50vw;
    /* height: 50%; */
    border: 1px solid black;

    padding: 10%;
    margin-top: 10%;

}

